.row{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px; /* Space between the grid items */
    padding: 20px;
   background-color: rgba(223, 238, 248, 0.521);
}

.column{
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers text/image horizontally */
  text-align: center;
}

img{
    margin: auto;
    margin-bottom: 10px;
    width: 100%;       /* Makes image fill the grid column width */
  height: auto;      /* Keeps aspect ratio */
  display: block;
  border-radius: 8px;
}




.column h2 {
  margin-top: 10px;
  font-family: sans-serif;
}