.row{
    display: grid;
    grid-template-columns: repeat(auto-fit, 500px);
    gap: 20px; /* Space between the grid items */
    padding: 20px;
   background-color: rgba(223, 238, 248, 0.521);
   justify-content: space-evenly;
   align-items: center;
}

.column{
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers text/image horizontally */
  text-align: center;
  margin: 30px;
}

img{
    margin: auto;
    margin-bottom: 10px;
      /* Keeps aspect ratio */
  display: block;
  flex: auto;
  border-radius: 8px;
}




.column h2 {
  margin-top: 10px;
  font-size: 35px;
  font-family: sans-serif;
}